@import 'tailwindcss';
@import './IosevkaSlab.css';
@plugin '@tailwindcss/typography';

:root {
	--text-xs: clamp(0.51rem, -0.02vi + 0.52rem, 0.5rem);
	--text-sm: clamp(0.64rem, 0.05vi + 0.63rem, 0.67rem);
	--text-base: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
	--text-md: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
	--text-lg: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
	--text-xl: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
	--text-2xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
	--text-3xl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);

	--font-serif: 'Merriweather', serif;
	--font-mono: 'Iosevka Slab Web', monospace;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf');
}

@font-face {
	font-family: 'Merriweather-Italic';
	src: url('/fonts/Merriweather/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf');
}

html {
	@apply scroll-smooth;
}
